// Specific CSS for your home-page
.card-category {
    margin-bottom: 40px;
    text-align: center;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.8;
    transition: 0.2s;
    &:hover {
        opacity: 1;
    }
}

.list-name {
    vertical-align: middle;
    line-height: 150px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.list-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
    h2{
        margin: 0;
    }
}

.hero {
    height: 600px;
    width: 100%;
    text-align: center;
    position: relative;
    h1 {
        color: white;
        font-weight: bold;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
    }
    .hero-image {
        // background-color: (rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background: rgba(0,0,0,0.5);
        background-size: cover;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.container {
    padding: 20px;
    width: 950px
}

.row {
    align-items: center;
}

.add-list {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    transition: 0.2s;
    &:hover {
        background-color: rgb(60, 187, 60);
    }
}
