.button {
    width: 100px;
    height: 50px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    line-height: 50px;
    a {
        text-decoration: none;
    }
}